<div class=" rounded-lg border border-gray-200">
    <div class="border-b border-gray-200 py-2 px-3 flex items-center justify-between">
        <h4 class="font-semibold"><i class="bi bi-upc-scan me-2"></i>OCR Document Scanner</h4>
        <button type="button" onclick="window.location.reload()" class="button-min-primary py-1 px-2" id="rescan-btn">
            <div class="flex items-center gap-2">
                <i class="bi bi-arrow-clockwise"></i>
                <span>Rescan Document</span>
            </div>
        </button>
        <button type="button" onclick="onConnection()" class="button-min-warn py-1 px-2" id="reconnect-btn" style="display: none;">
            <div class="flex items-center gap-2">
                <i class="bi bi-arrow-clockwise"></i>
                <span>Reconnect</span>
            </div>
        </button>
    </div>
    <div>
        <div id="expired-date-error" class="px-3 py-2 bg-red-200 text-red-800 flex items-center gap-2 font-medium text-xs hidden">
            <i class="bi bi-exclamation-circle-fill text-red-800"></i>
            <span>Document expiry date is expired</span>
        </div>
        <div id="scanner-error" class="px-3 py-2 bg-yellow-200 text-yellow-800 flex items-center gap-2 font-medium text-xs hidden">
            <i class="bi bi-exclamation-circle-fill text-yellow-800"></i>
            <span>Cannot connect to device scanner, please check your device or driver and try again</span>
        </div>
        <div id="connecting-scanner" class="px-3 py-2 bg-blue-200 text-blue-800 flex items-center gap-2 font-medium text-xs hidden">
            <i class="fa fa-spinner fa-spin text-blue-800"></i>
            <span>Connecting to device scanner...</span>
        </div>
        <div id="connected-scanner" class="px-3 py-2 bg-green-200 text-green-800 flex items-center gap-2 font-medium text-xs hidden">
            <i class="bi bi-check-circle-fill text-green-800"></i>
            <span>Connected to device scanner</span>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-3 px-3 pb-3">
        <div class="p-3 border border-gray-200 rounded-lg">
            <h4><i class="fa fa-file-image me-2"></i>Scan Document Image</h4>
            <div id="defaultImg" class="mt-3 p-2 rounded bg-gray-100">
                <div class="flex items-center justify-center py-4">
                    <i class="bi bi-image text-4xl text-gray-500"></i>
                </div>
            </div>
            <div id="previewImg" class="mt-3 p-2 rounded bg-gray-100" style="display: none;">
                <img id="imageWhite" class="w-full h-full object-contain rounded-lg"/>
            </div>
        </div>
        <div class="p-3 border border-gray-200 rounded-lg">
            <h4><i class="fa fa-list-check me-2"></i>Extracted Data Preview</h4>
            <div class="mt-3 p-2 space-y-2" id="textExtractedDefault">
                <div class="p-1 rounded bg-gray-100 w-full"></div>
                <div class="p-1 rounded bg-gray-100 w-full"></div>
                <div class="p-1 rounded bg-gray-100 w-full"></div>
                <div class="p-1 rounded bg-gray-100 w-full"></div>
                <div class="p-1 rounded bg-gray-100 w-full"></div>
                <div class="p-1 rounded bg-gray-100 w-full"></div>
            </div>

            <div class="mt-3 p-2 rounded space-y-2" id="textExtractedDiv" style="display: none; max-height: 300px; overflow-y: auto;">

            </div>
   

        </div>
    </div>
</div>