<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employment Certificate - LYP Group Co. Ltd</title>
    {% load static %}
    {% load eform_tags %}
    <link href="{% static 'vendor/fonts/google-fonts.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/button-mini.css' %}">
    <style>
        @page{
            size: A4;
        }


        @media print {
        *{
            padding-left:0 !important;
            padding-right: 0 !important;
        }
        body {
            background: white;
            padding: 0 !important;
            margin: 0 !important;
        }

        }

        .moul-regular {
            font-family: "Moul", serif;
            font-weight: 400;
            font-style: normal;
        }
        .time-roman{
            font-family: 'Times New Roman', Times, serif;
            font-style: normal;
        }
        .noto-sans-sc-500 {
        font-family: "Noto Sans SC", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        }
        .kh-content-regular {
        font-family: "Content", system-ui;
        font-weight: 400;
        font-style: normal;
        }

        .kh-content-bold {
        font-family: "Content", system-ui;
        font-weight: 700;
        font-style: normal;
        }
                
    </style>
    <script src="{% static 'js/tailwindcss.js' %}"></script>
</head>
<body>
    <div class="flex justify-between items-center px-20 py-3 border-b border-gray-200">
        <a href="{% url 'eform:certificate_requests_list' %}" class="flex items-center space-x-2">
         
          <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
              </svg>                  
          </span>
          <span class="text-sm">Back</span>
        </a>
  
        <h1 class="text-sm text-gray-700 font-medium">
            Employment Certificate for <span class="font-semibold">{{ workers|length }} worker{{ workers|length|pluralize }}</span> </h1>
  
        <button onclick="printDiv('certificateContent')" class="button-min-primary">
          
          <span>Print Certificate</span>
  
        </button>
    </div>
    <div id="certificateContent" class="relative border border-gray-100 w-[250mm] overflow-hidden min-h-[297mm] h-auto bg-white shadow mx-auto my-10 p-8 print:w-[230mm] :shadow-none print:p-0 print:m-0 print:border-none">
        <!-- Header -->
         <div class="flex items-start justify-start">
            <div class=" flex flex-col justify-center items-center text-center">
                <img src="{% static 'images/logos/lyp-logo.jpeg'%}" alt="LYP" class="w-[80%]" />
                <h2 class="moul-regular text-[14px] text-red-500 text-center">ក្រុមហ៊ុន អិល.វ៉ាយ.ភី គ្រុប</h2>
                <h2 class="time-roman text-[14px] text-red-500 uppercase text-center">L.Y.P Group Co.Ltd</h2>
                <h2 class="time-roman text-[12px] text-centerm mt-1 font-semibold">Ref : {{certificate_request.request_ref|default:''}}</h2>
                <h2 class="time-roman text-[12px] text-center font-semibold">Building: Casino L.Y.P St 48</h2>
            </div>
         </div>
        <!-- Header -->
        <!-- Title -->
         <div class=" w-full mt-3">
                <h1 class=" time-roman text-[24px] font-semibold text-center underline">To Whom It May Concern</h1>
         </div>
        <!-- Title -->
        <!-- Ref  -->
         <div class="mt-3 w-full">
            <div class="flex items-center justify-start">
                <p class="w-14 time-roman font-semibold text-[14px]">Re:</p>
                <p class="time-roman font-semibold text-[14px]">{{ certificate_request.get_purpose_display }}</p>
            </div>
            <div class="flex items-center justify-start">
                <p class="w-14 time-roman font-semibold text-[14px]">Dear:</p>
                <p class="time-roman font-semibold text-[14px]">Sir/Madame</p>
            </div>
         </div>
        <!-- Ref  -->
        <!-- Description -->
         <div class="mt-2">
            <p class=" time-roman font-[500] text-[14px]">L.Y.P group Co.,ltd is a Licensed Koh Kong Resort Operation In Road 48, Cham Yeam Village, 
                Pakklong Commune, Mondol Seyma District, Koh Kong Province, Cambodia.</p>
            <p class=" time-roman font-[500] text-[14px]">I would like to confirm that the following employee's name are employed by Koh Kong Resort (Cham Yeam), </p>
            <p class="time-roman font-[500] text-[14px]">Extending Cambodia visa as bellow:</p>
         </div>
        <!-- Description -->
         <!-- tabel -->
        <div class="mt-3">
            <table class="table-auto border border-gray-300 border-collapse w-full">
                <thead>
                  <tr class="time-roman text-[12px]">
                    <th class="border border-gray-800 px-2 py-1 text-center">No.</th>
                    <th class="border border-gray-800 px-2 py-1 print:px-2 text-center">Name-Surname</th>
                    <th class="border border-gray-800 px-2 print:px-1 py-2 text-center">SEX</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Present Position</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Nationality</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Passport Number</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Date of Expired (Passport)</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Date of Expired (VISA)</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">VISA Extension</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Building Name</th>
                    <th class="border border-gray-800 px-2 py-1 text-center">Personal Telephone</th>
                  </tr>
                </thead>
                <tbody>
    
                    
                    {% for worker in workers %}
                    <tr class="time-roman text-[11px]">
                        <td class="border border-gray-800 px-2 py-0.5 text-center">{{ forloop.counter }}</td>
                        <td class="border border-gray-800 px-2 py-0.5 text-left whitespace-nowrap">{{ worker.get_full_name|upper }}</td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">{{ worker.sex|upper }}</td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">{{ worker.position.name|default:"WORKER"|upper }}</td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">{{ worker.get_nationality_display|upper }}</td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">
                            {% if worker.passport_number %}
                                {{ worker.passport_number }}
                            {% else %}
                                {% for doc in worker.documents.all %}
                                    {% if doc.document_type == 'passport' %}
                                        {{ doc.document_number }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">
                            {% for doc in worker.documents.all %}
                                {% if doc.document_type == 'passport' %}
                                    {{ doc.expiry_date|date:'d/m/Y' }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center">
                            {% for doc in worker.documents.all %}
                            {% if doc.document_type == 'visa' %}
                                {{ doc.expiry_date|date:'d/m/Y' }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center font-semibold">
                            {% if certificate_request %}
                                {% for worker_service in certificate_request.worker_services.all %}
                                    {% if worker_service.worker == worker and worker_service.visa_service_charge %}
                                        {{ worker_service.visa_service_charge.name|extract_duration }}
                                    {% endif %}
                                {% empty %}
                                    -
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center"></td>
                        <td class="border border-gray-800 px-2 py-0.5 text-center font-semibold">
                            {% if certificate_request.delivery_contact %}
                            {{ certificate_request.delivery_contact }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                
                  
                </tbody>
              </table>
              <!-- {% for extension in extensions %}
              <span>{{extension.request_number}}</span>
              {% endfor %} -->
        </div>
        <!-- tabel -->
        <div class="mt-2">
            <p class=" time-roman font-[500] text-[14px]">At the Present,they are actually staying at staff quarter building <strong>({% regroup workers by building.name as building_list %}{% for building in building_list %}{% if not forloop.first %}, {% endif %}{{ building.grouper|upper }}{% endfor %})</strong></p>
            <p class=" time-roman font-[500] text-[14px]">Add: Road 48, Cham Yeam Village, Pakklong Commune, Mondol Seyma District, Koh kong Province, Cambodia </p>
            <p class="time-roman font-[500] text-[14px]">We promise that all the information that we provide above is true and we will respond and face with the 
                Cambodia's law if not true</p>
         </div>

         <div class="mt-5 flex justify-start">
            <div class="w-[40%] text-right">
                <p class=" time-roman font-[500] text-[14px]">Issued date {{form_date|date:"d/m/Y"}}</p>
            </div>
         </div>
         <div>
            <p class=" time-roman font-[500] text-[14px]">Your faithfully,</p>
            <p class=" time-roman font-[500] text-[14px]">For and on behalf of Koh Kong Resort</p>
            <div class="h-[70px]"></div>
            <p class=" time-roman font-[500] text-[14px] border-t w-[15%] px-5 text-center">Vice President</p>
         </div>
         
    </div>
    <script>
    function printDiv(divId) {
        const printContents = document.getElementById(divId).innerHTML;
        const originalContents = document.body.innerHTML;
    
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
    </script>
</body>
</html>